<div>
    
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="entry in itemListCtrl.entries">
               <a ng-click="itemListCtrl.setSelectedNote(entry)">{{entry.name}}</a>  
        </li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
</div>